* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue"
}

.dark {
  background-color: #32383f;
}

.darkBorder {
  border: 1px solid black;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 170, 173);
  color: white;
  padding: 12px;
  font-size: .8em;
  .col2 {
    flex-grow: 2;
    text-align: center;

  }
  .col3 {
    flex-grow: 2;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  p {
    margin: 0;
  }
  a {
    color: white;
    :hover {
      cursor: pointer;
    }
  }
}

.form-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #BFBFBF;
  width: 75%;
  padding: 60px;
  form {
    display: flex;
    flex-direction: column;
    * {
      padding: 7px;
      font-size: 1.2em;
    }
  }
}

.main-content {
  text-align: center;
  img {
    width: 100%;
  }
}

.nav-items {
  list-style: none;
  padding: 0;
  border-top: 1px solid rgb(102, 170, 173);
  border-bottom: 1px solid rgb(102, 170, 173);
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid rgb(102, 170, 173);
    //padding: 0 50px;
    height: 42px;
    a {
      padding: 0 50px;
      color: rgb(102, 170, 173);
      text-decoration: none;
    }
  }
  li:first-child {
    border-left: none;
  }
  li:hover {
    background-color: rgb(102, 170, 173);
    a {
      color: white;
    }
  }
}

.selected {
  background-color: rgb(102, 170, 173);
  :first-child {color: white;}
}

.side-nav {
  .selected {
    background-color: white;
    :first-child {color: black;}
  }
  ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    li {
      margin: 7px;
      a {
        color: rgb(102, 170, 173);
        font-size: .9em;
      }
    }
  }
}

.spread {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1000px;
  padding: 15px;
}
