* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue"
}




.content-wrapper {
}

.dark {
  background-color: #32383f;
}

.darkBorder {
  border: 1px solid black;
}



.form-wrapper {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #BFBFBF;
  width: 75%;
  padding: 60px;
  form {
    display: flex;
    flex-direction: column;
    * {
      padding: 7px;
      font-size: 1.2em;
    }
  }
}

#header {
  display: flex;
  flex-wrap: wrap;
  > *, #slogan {
    margin: 0 auto;
    max-width: 100%;
  }
}

.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
}




.selected {
  background-color: white;
  :first-child {color: rgb(3,77,114);}
}

.side-nav {
  // display: none;
  @include desktop {
    display: inline-block;
  }
  .selected {
    background-color: white;
    :first-child {color: black;}
  }
  ul {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    max-width: 1000px;
    margin: 10px auto;
    li {
      margin: 7px;
      a {
        color: black;
        font-size: .9em;
      }
    }
  }
}

.spread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    flex-direction: row;
  }
}

.wrapper {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  //margin-top: 20px;
  //max-width: 1000px;
  //padding: 15px;
}
