.home {
  #header {
    justify-content: space-between;
    img:first-child {
      margin-left: 10px;
    }
    img:last-child {
      margin-right: 10px;
    }
  }
  .jumbotron {
    box-shadow: inset 0px 33px 29px -31px rgba(0,0,0,0.75);
    background-image: url('../../media/img/bridgepoint.jpg');
    width: 100%;
    height: calc(100vh - 297px);
    min-height: 300px;
    background-position: center;
    background-size: cover;
    margin-bottom: 70px;
  }
}
