#viewArticle {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    padding-bottom: 188px;
    background: white;
    .content-container {
      margin: 0 auto;
      max-width: 1000px;
    }
    h2 {
      color: #23c1ee;
      font-weight: 400;
    }
    .pageTitleContainer {
      width: 100;
      background-color: #2f3035;
      color: white;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin: 0;
        border-bottom: 3px solid #23c1ee;
        display: inline;
      }
    }
    .pageBreak {
      height: 3px;
      width: 70%;
      margin: 50px auto;
      background-color: #23c1ee;
    }
    .main-image {
      width: 100%;
      margin: 0 auto;
      margin-top: 5vh;
      @include desktop {
        width: 90%;
      }
    }
    .details {
      margin: 0 auto;
      margin-top: 50px;
      // background-color: #f2f2f2;
      // border: 1px solid #d9d9d9;
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include desktop {
        flex-direction: row;
      }
      .col {
        text-align: center;
        ul {
          padding: 0;
        }
      }
    }
    #description {
      width: 90%;
      margin: 0 auto;
      text-align: left;
    }
  .imageContainer {
    width: 100vw;
    height: 60vw;
    max-height: 600px;
    max-width: 900px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include desktop {
      width: 60vw;
      height: 35vw;
    }
    .slide {
      width: 100%;
      height: 100%;
      max-height: 600px;
      max-width: 900px;
      background-position: center;
      background-size: cover;
      position: absolute;
      @include desktop {
        width: 60vw;
        height: 35vw;
      }
    }
    .slideshow-controls {
      position: absolute;
      z-index: 100;
      top: calc(50% - 27px);
      width: 100%;
      .image-nav-arrow {
        position: absolute;
        font-size: 3em;
        color: white;
        padding: 0;
        p {
          margin: 0;
          text-shadow: 1px 1px 3px black;
        }
        p:hover {
          cursor: pointer;
          color: #23c1ee
        }
      }
      .back-arrow {
        left: 10px;
      }
      .forward-arrow {
        right: 10px;
      }
    }
  }
}
